
.titulo { 
color: black;
display: flex;
justify-content: center;  }

form, li {
background: white;
max-width: 500px;
margin: 20px auto;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label, input, button {
width: 100%;
margin-top: 10px;
}
.agregar{
color: white;
}
.agregar { background: black; }
.lista 
{ list-style: none; padding: 0; }
.musica{
    display: flex;
justify-content: center;
}

